body {
    background-color:grey;
    width: 100%;
    height: 100%;
}
.card {
    background-color: cadetblue;
    color:whitesmoke;
    padding: 2%;
}
.title {
    text-align: center;
    color:lightgrey;
    font-size: 100px;
}
h1 {
    color: lightgrey;
    background-image: linear-gradient(grey, rgb(73, 73, 73));
    font-style: italic;
    font-size: 1.5rem;
    padding-bottom: 20px;
}

#submitBtn {
    color: black;
    font-weight: bold;
    margin-left: 3px;
}
#watchlist-button {
    background-image: linear-gradient(grey, rgb(73,73,73));
    color: black;
}

#search-bar {
    color: black;
    padding: 5px;
    text-align: left;
    background-color:cadetblue;
    padding: 2%;
    width: 70%;
}

.mf-border {
    text-align: center;
    margin-top: 10px;
    box-shadow:-5px 5px 5px black;
    border-style: solid;
    border-width: 2px;
    width: 70%;
    border-radius: 10px;
    background-image:linear-gradient(cadetblue, grey);
}
#service-list {
    border-style: solid;
    display: flex;
    width: 200px;
}

#overview {
    width: left;
}

h2 {
    font-size: 54px;
    color: white;
}

@media screen and (max-width: 1276px) {
    #movie-info {
        width: auto;
        display: inline-block;
        margin-bottom: 10px;
    }
}
@media screen and (min-width: 768px) {
    #movie-info{
        width: inline-block;
    }
}
@media screen and (min-height: 294px){
}
#movie-info{
    display: flex inline;
}
